@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Mooli&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-text: #04520e;
  --color-text-2: #2b2b2b;
  --color-btn: #7ec181;
  --font-family: "IBM Plex Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  height: 150px;
}

.container-logo {
  display: flex;
  align-items: center;
}

#logo {
  height: 130px;
  width: auto;
}

.navigation-bar {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.list-item-navbar {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar-item {
  font-family: var(--font-family);
  font-size: 18px;
  padding: 2.3rem;
  cursor: pointer;
}

.navbar-item:hover {
  color: var(--color-text);
}

.container-main {
  height: 100vh;
  background: linear-gradient(#b1d3b5 0%, #fdfdfd 100%);
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

.container-profile {
  display: grid;
}

.content-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-photo {
  width: 300px;
  height: 300px;
  padding: 1rem;
  border-radius: 50%;
}

.content-presentation-text {
  display: grid;
}

.content-text {
  display: grid;
  align-content: center;
  justify-items: center;
}

.profile-name {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 4rem;
}

.credential-number {
  color: var(--color-text-2);
  font-family: var(--font-family);
  font-size: 2rem;
}
.description-text {
  font-family: var(--font-family);
  font-size: 20px;
  font-style: italic;
  color: var(--color-text-2);
  padding: 1rem;
}

button {
  background-color: #fff;
  border: 1px solid var(--color-text);
  padding: 1rem;
  position: relative;
  width: 13rem;
  height: 2.5rem;
  transition: 0.5s;
  font-size: 17px;
  font-family: var(--font-family);
  border-radius: 3px;
  cursor: pointer;
}

button p {
  position: absolute;
  top: 0.4em;
  left: 1.15em;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  color: var(--color-text-2);
}

button svg {
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fff;
}

button:hover p {
  left: 0.5em;
  color: #fff;
}

button:hover svg {
  opacity: 1;
}

button:hover {
  background-color: var(--color-btn);
  border: 1px solid var(--color-btn);
}
