@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Mooli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@font-face {
  font-family: "Brody Regular";
  src: url("/assets/fonts/brody-regular-maisfontes.ef38/brody-regular.ttf")
    format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-text: #04520e;
  --color-text-2: #2b2b2b;
  --color-text-3: #000;
  --color-text-4: #317139;
  --color-text-5: #fff;
  --color-background: #ffffff;
  --color-btn: #7ec181;
  --font-family: "IBM Plex Sans", sans-serif;
  --font-family-2: "Allura", sans-serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  height: 150px;
}

.container-logo {
  display: flex;
  align-items: center;
}

#logo {
  height: 130px;
  width: auto;
  border-radius: 3px;
}

.navigation-bar {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.list-item-navbar {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar-item {
  font-family: var(--font-family);
  font-size: 18px;
  padding: 2.3rem;
  cursor: pointer;
  color: var(--color-text-3);
}

.navbar-item:hover {
  color: var(--color-text);
}

.btn-scrollTop {
  outline: none;
  background-color: var(--color-background);
  border-radius: 50%;
  border: none;
  width: 60px;
  height: 60px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.3),
    0 2px 4px -1px rgba(0, 0, 0, 0.6);
  z-index: 999;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

.btn-scrollTop.active {
  visibility: visible;
  opacity: 1;
}

#up-arrow-img {
  width: 60px;
  height: 60px;
}

.container-section {
  height: auto;
  /* background: linear-gradient(#b1d3b5 0%, #fdfdfd 100%); */
  display: grid;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--color-text-3);
}

.container-section-2 {
  height: auto;
  background: linear-gradient(#f1f0f0 0%, #e3f5e5 100%);
  display: grid;
}

.container-profile {
  display: grid;
}

.content-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-photo {
  width: 300px;
  height: 300px;
  padding: 1rem;
  border-radius: 50%;
  margin-top: 3rem;
}

.content-presentation-text {
  display: grid;
}

.btn-schedule-service-2 {
  font-family: var(--font-family);
  font-size: 1rem;
  padding: 0.6rem;
  border: 1px solid var(--color-text-4);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s ease;
}

.btn-schedule-service-2:hover {
  background: #d56898;
  border: none;
  color: var(--color-text-5);
  transform: scale(1.1);
}

.content-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
}

#background-banner-img {
  width: 97vw;
  border-radius: 8px;
}

.content-text {
  display: grid;
  align-content: center;
  justify-items: center;
}

.content-text-2 {
  position: absolute;
  background-color: #ffffff8c;
  text-align: center;
  display: grid;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 300px;
}

.profile-name {
  color: var(--color-text-4);
  font-family: var(--font-family);
  font-size: 4rem;
}

.credential-number {
  color: var(--color-text-3);
  font-family: var(--font-family), sans-serif;
  font-size: 1.5rem;
}

.description-text {
  font-family: var(--font-family), sans-serif;
  font-size: 25px;
  color: var(--color-text-3);
  padding: 1rem;
}

.description-presentation-text {
  font-family: "Brody Regular";
  font-size: 65px;
  font-style: italic;
  color: var(--color-text-3);
  padding: 1rem;
  /* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */
  animation: tracking-in-expand-forward-top 1.5s linear both;
}
@keyframes tracking-in-expand-forward-top {
  0% {
    letter-spacing: -0.2em;
    transform: translateZ(-700px) translateY(-100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/* .service-container {
} */

.title-text {
  padding: 3rem;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: var(--font-family), sans-serif;
  color: #000000;
}

.container-section-3 {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}
.services-section-card {
  display: grid;
  align-items: center;
  padding: 20px;
  margin-top: 15px;
}
.card-of-available-services {
  display: grid;
  align-items: center;
  background-color: #3f7b47;
  border-radius: 3px;
  box-shadow: 0px 3px 3px 0px var(--color-text-3);
  height: 350px;
  margin: 30px;
}
.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-title {
  background-color: #e7f6e9;
  position: relative;
  top: -56px;
  padding: 14px;
  width: 100%;
  border-radius: 3px;
}
.card-title-text {
  font-family: var(--font-family), sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  display: grid;
}
.card-image {
  width: 100px;
  height: 100px;
  margin-top: -1rem;
}
.service-description {
  color: var(--color-text-5);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 300;
  text-align: -webkit-center;
  text-align: center;
  padding: 1rem;
}

.btn-schedule-service {
  background-color: var(--color-text-5);
  border: 1px solid var(--color-text);
  padding: 1rem;
  margin-top: 2rem;
  position: relative;
  width: 13rem;
  height: 2.5rem;
  transition: 0.5s;
  font-size: 17px;
  font-family: var(--font-family), sans-serif;
  border-radius: 3px;
  cursor: pointer;
}

.schedule-service-text {
  position: absolute;
  top: 0.4em;
  left: 1.15em;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  color: var(--color-text-2);
}

.btn-schedule-service svg {
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: var(--color-text-5);
}

.btn-schedule-service:hover .schedule-service-text {
  left: 0.5em;
  color: var(--color-text-5);
}

.btn-schedule-service:hover svg {
  opacity: 1;
}

.btn-schedule-service:hover {
  background-color: var(--color-btn);
  border: 1px solid var(--color-btn);
}

.footer-container {
  background-color: #d35c93;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 1px;
}
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}
.footer-navigation {
  width: calc(25% - 16px);
  height: 250px;
}

#header-footer-content {
  text-transform: uppercase;
  line-height: 1;
  display: grid;
  justify-content: left;
  align-items: flex-start;
}
.title-footer {
  display: inline;
  font-size: 16px;
  color: #fff;
  font-family: var(--font-family), sans-serif;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
}
.footer-navigation-list {
  display: grid;
  color: #f0f8ff;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 10px;
}

.footer-list-item {
  color: var(--color-text-5);
  font-size: 11pt;
  font-family: var(--font-family), sans-serif;
  display: flex;
  margin: 7px;
  transition: 0.2s;
  cursor: pointer;
}

.footer-list-item:hover {
  outline-offset: 5px;
  outline-style: ridge;
  outline-color: #79aa75;
}
.copyright {
  font-size: 16px;
  font-family: var(--font-family), sans-serif;
  font-style: italic;
  margin-top: 30px;
}
.text-copy {
  color: #fff;
}
