@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Mooli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

@font-face {
  font-family: "Brody Regular";
  src: url("/assets/fonts/brody-regular-maisfontes.ef38/brody-regular.ttf")
    format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-text: #04520e;
  --color-text-2: #2b2b2b;
  --color-text-3: #000;
  --color-text-4: #317139;
  --color-text-5: #fff;
  --color-background: #ffffff;
  --color-btn: #7ec181;
  --font-family: "IBM Plex Sans", sans-serif;
  --font-family-2: "Brody Regular", sans-serif;
  --font-family-3: "Allura", sans-serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  height: 150px;
}

.container-logo {
  display: flex;
  align-items: center;
}

#logo {
  height: 130px;
  width: auto;
}

.navigation-bar {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.list-item-navbar {
  list-style: none;
  display: flex;
  justify-content: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--color-text-3);
}

.navbar-item {
  font-family: var(--font-family);
  font-size: 18px;
  color: var(--color-text-3);
  padding: 2.3rem;
  cursor: pointer;
}

.navbar-item:hover {
  color: var(--color-text);
}

.footer-container {
  background-color: #d35c93;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 1px;
}
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}
.footer-navigation {
  width: calc(25% - 16px);
  height: 250px;
}

#header-footer-content {
  text-transform: uppercase;
  line-height: 1;
  display: grid;
  justify-content: left;
  align-items: flex-start;
}
.title-footer {
  display: inline;
  font-size: 24px;
  color: #fff;
  font-family: "Athletics", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
}
.footer-navigation-list {
  display: grid;
  color: #f0f8ff;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 10px;
}

.footer-list-item {
  color: #f7d47e;
  font-size: 11pt;
  font-family: "Athletics", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  margin: 7px;
  transition: 0.2s;
  cursor: pointer;
}

.footer-list-item:hover {
  outline-offset: 5px;
  outline-style: ridge;
  outline-color: #79aa75;
}
.copyright {
  font-size: 16px;
  font-style: italic;
  margin-top: 30px;
}
.text-copy {
  color: #fff;
}

#link-copy {
  color: #fff;
  text-decoration: underline;
}
